* {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #fff;
}

body {
    background: #081b29;
}

/********************ESTILOS LA BARRA DEL MENU*************************/
.nav{
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
}

.navbar{
    color: #fff;
}

.nav-link{
    color: #fff;
}

#nav--link{
    color: #fff;
}

.navbar-brand{
    color: #fff;
}

.div_boton{
    margin-left: 800px;
}

.p{
    padding-right: 20px;
}

.bajar {
    animation: mover 0.5s forwards ease-in-out;
}

@keyframes mover {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(300px);
    }
}

.modal {
    position: absolute;
    top: -80%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 700px;
    height: 340px;
    padding-top: 30px;
    margin-top: 20px;
    margin-left: 350px;
    animation: trasladar 0.5s forwards ease-in-out;
}

@keyframes trasladar {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0px);
    }
}

.boton {
    margin-top: 10px;
}

.mensaje {
    position: absolute;
    top: 92%;
    left: 70%;
    background-color: rgba(129, 222, 129, 0.471);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    animation: mostrar 1s;
}

@keyframes mostrar {
    0%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(-10px);
    }
}

.rojo {
    background-color: red;
}

.select{
    background-color: #081b29;
    color: #fff;
    margin-bottom: 20px;
}

.label{
    font-family: arial;
    color: #fff;
}